<p id="notice"><%= notice %></p>

<p>
  <strong>Itemdescription:</strong>
  <%= @to_do_item.itemDescription %>
</p>

<p>
  <strong>Prioritynumber:</strong>
  <%= @to_do_item.priorityNumber %>
</p>

<p>
  <strong>User:</strong>
  <%= @to_do_item.User_id %>
</p>

<%= link_to 'Edit', edit_to_do_item_path(@to_do_item) %> |
<%= link_to 'Back', to_do_items_path %>
